<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>to_visit</title>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <style>
        p, h1, h3, #center {
            margin: 40px;
            text-align: center;
        }
        h2{
           margin: 20px;
        }
        li{
            margin-left: 60px;
        }
    </style>

</head>
<body>


  <!-- Navigation -->
  <nav class="navbar navbar-light static-top" style="background-color: #faf7ef;">
    <div class="container">
      <a class="navbar-brand" href="/home">Homepage</a>
      <a class="btn btn-dark" href="/to_visit">To Visit</a>
    </div>
  </nav>


    <h1>Categories:</h1>
    {% if not categories_list %}
      <p>No item found</p>
    {% else %}
      <ul>
        {% for category in categories_list %}
            <h2>{{ category }}:</h2>
            <ul class="list-group">
                {% for place in places_list %}
                    {% if place.category == category %}
                        <li class="list-group-item">{{place.title}}</li>
                    {% endif %}
                {% endfor %}
            </ul>

        {% endfor %}
      </ul>
    {% endif %}

</body>
</html>